{% extends 'base.html' %}
{% block content %}
    <main>
      <div class="hero small-height jarallax" data-jarallax data-speed="0.2">
          <img class="jarallax-img" src="/static/img/hero_home_1.jpg" alt="">
          <div class="wrapper opacity-mask d-flex align-items-center justify-content-center text-center animate_hero" data-opacity-mask="rgba(0, 0, 0, 0.5)">
              <div class="container">
                  <small class="slide-animated one">Luxury Hotel Experience</small>
                  <h1 class="slide-animated two">About PEACE LAND</h1>
              </div>
          </div>
      </div>
      <!-- /Background Img Parallax -->

      <div class="container margin_120_95">
          <div class="row justify-content-between align-items-center">
              <div class="col-lg-5">
                  <div class="parallax_wrapper inverted">
                      <img src="/static/img/about_1.jpg" alt="" class="img-fluid rounded-img">
                      <div data-cue="slideInUp" class="img_over"><span data-jarallax-element="-30"><img src="/static/img/home_1.jpg" alt="" class="rounded-img"></span></div>
                  </div>
              </div>
              <div class="col-lg-5">
                  <div class="intro">
                      <div class="title">
                          <small>PEACE LAND</small>
                          <h2>Our History</h2>
                      </div>
                      <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium eius optio nobis perspiciatis, nostrum quos.</p>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quia numquam delectus sit facere architecto ratione laboriosam sapiente, exercitationem consectetur possimus fuga fugiat. Aut corrupti accusamus eos perspiciatis quod maiores minus, vitae nostrum nihil ab?</p>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, est vero dicta voluptatem eos culpa?</p>
                      <p><em>PEACE LAND...the Owner</em></p>
                  </div>
              </div>
          </div>
          <!-- /Row -->
      </div>
      <!-- /container -->

      <div class="bg_white">
          <div class="container margin_120_95">
              <div>
                  <div class="row justify-content-between">
                      <div class="col-lg-5 fixed_title">
                          <div class="title">
                              <small>PEACE LAND Hotel</small>
                              <h2>Local Amenities</h2>
                              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia quod nemo commodi molestias aliquam totam sit expedita voluptatem corporis dolore? </p>
                          </div>
                          <div class="list_ok">
                              <ul>
                                  <li data-cue="slideInUp" data-delay="200">
                                      <h5>Local Restaurants</h5>
                                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus eligendi tenetur excepturi!</p>
                                  </li>
                                  <li data-cue="slideInUp" data-delay="300">
                                      <h5>Nature</h5>
                                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt vel itaque laboriosam possimus ex ratione dolorum provident quasi in minima dolor, impedit voluptas recusandae.</p>
                                  </li>
                                  <li data-cue="slideInUp" data-delay="400">
                                      <h5>Art and Culture</h5>
                                      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime provident esse temporibus dicta hic voluptate!</p>
                                  </li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-lg-6 ">
                          <div data-cue="fadeIn" data-delay="500">
                              <figure><img src="/static/CustomImages/about1.jpg" alt="" class="img-fluid rounded-img" style="width: 100%;"></figure>
                          </div>
                          <div data-cue="fadeIn" data-delay="500">
                              <figure>
                                  <img src="/static/CustomImages/about2.webp" alt="" class="img-fluid rounded-img">
                              </figure>
                          </div>
                          <div data-cue="fadeIn" data-delay="500">
                              <figure>
                                  <img src="/static/CustomImages/about3.jpg" alt="" class="img-fluid rounded-img">
                              </figure>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- /container-->
      </div>
      <!-- /bg_white -->

      <div class="parallax_section_1 jarallax" data-jarallax data-speed="0.2">
          <img class="jarallax-img" src="/static/img/hero_home_1.jpg" alt="">
          <div class="wrapper opacity-mask d-flex align-items-center justify-content-center text-center" data-opacity-mask="rgba(0, 0, 0, 0.5)">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <div class="title white">
                              <small class="mb-1">Testimonials</small>
                              <h2>What Clients Says</h2>
                          </div>
                          <div class="carousel_testimonials owl-carousel owl-theme nav-dots-orizontal">
                            <div>
                                <div class="box_overlay">
                                    <div class="pic">
                                        <figure><img src="/static/CustomImages/client3.jfif" alt="" class="img-circle" style="height: 100%;">
                                        </figure>
                                        <h4>Shivani<small>12 Nov 2023</small></h4>
                                    </div>
                                    <div class="comment">
                                       "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, deleniti dolor? Porro quod sed eos cumque veniam! Deserunt maiores exercitationem perspiciatis facere esse itaque!"
                                    </div>
                                </div>
                                <!-- End box_overlay -->
                            </div>
                            <div>
                                <div class="box_overlay">
                                    <div class="pic">
                                        <figure><img src="/static/CustomImages/client2.jfif" alt="" class="img-circle">
                                        </figure>
                                        <h4>Amar<small>2 Jan 2024</small></h4>
                                    </div>
                                    <div class="comment">
                                        "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non inventore optio odio doloremque sed dolor quas nesciunt aliquid quo sequi, dolorum cumque officia dolore."
                                    </div>
                                </div>
                                <!-- End box_overlay -->
                            </div>
                            <div>
                                <div class="box_overlay">
                                    <div class="pic">
                                        <figure><img src="/static/CustomImages/client1.jfif" alt="" class="img-circle">
                                        </figure>
                                        <h4>Suman<small>3 Dec 2024</small></h4>
                                    </div>
                                    <div class="comment">
                                        "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio sint, voluptatibus esse perferendis molestias enim vel ipsam excepturi deleniti, iure repellat facilis, eaque praesentium."
                                    </div>
                                </div>
                                <!-- End box_overlay -->
                            </div>
                          </div>
                          <!-- End carousel_testimonials -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- /parallax_section_1-->

      <div class="container margin_120_95">
          <div class="title text-center mb-5">
              <small data-cue="slideInUp">Paradise Hotel</small>
              <h2 data-cue="slideInUp" data-delay="100">Main Facilities</h2>
          </div>
          <div class="row mt-4">
              <div class="col-lg-3 col-md-6">
                  <div class="box_facilities no-border" data-cue="slideInUp">
                      <i class="customicon-private-parking"></i>
                      <h3>Private Parking</h3>
                      <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="box_facilities" data-cue="slideInUp">
                      <i class="customicon-wifi"></i>
                      <h3>High Speed Wifi</h3>
                      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="box_facilities" data-cue="slideInUp">
                      <i class="customicon-cocktail"></i>
                      <h3>Bar & Restaurant</h3>
                      <p>Similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="box_facilities" data-cue="slideInUp">
                      <i class="customicon-swimming-pool"></i>
                      <h3>Swimming Pool</h3>
                      <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
                  </div>
              </div>
          </div>
          <!-- /Row -->
          <hr class="more_margin">
          <div class="row justify-content-between margin_60_0">
              <div class="col-lg-4">
                  <div class="title">
                      <small>Paradise Hotel Faq</small>
                      <h3>Frequently Questions</h3>
                  </div>
                  <p>Can’t find your question in the list?
                      Let us know your questions.</p>
                  <p><a href="contacts" class="animated_link"><strong>Contact Us <i class="bi bi-arrow-right"></i></strong></a></p>
              </div>
              <div class="col-lg-7">
                  <div role="tablist" class="mb-5 accordion" id="faq">
                      <div class="card">
                          <div class="card-header" role="tab">
                              <h5 class="mb-0">
                                  <a class="collapsed" data-bs-toggle="collapse" href="#collapseOne_product" aria-expanded="false">
                                      <i class="indicator bi-plus-lg"></i>Cancellation
                                  </a>
                              </h5>
                          </div>
                          <div id="collapseOne_product" class="collapse" role="tabpanel" data-bs-parent="#faq">
                              <div class="card-body">
                                  <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                              </div>
                          </div>
                      </div>
                      <!-- /card -->
                      <div class="card">
                          <div class="card-header" role="tab">
                              <h5 class="mb-0">
                                  <a class="collapsed" data-bs-toggle="collapse" href="#collapseTwo_product" aria-expanded="false">
                                      <i class="indicator bi-plus-lg"></i>Payments
                                  </a>
                              </h5>
                          </div>
                          <div id="collapseTwo_product" class="collapse" role="tabpanel" data-bs-parent="#faq">
                              <div class="card-body">
                                  <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                              </div>
                          </div>
                      </div>
                      <!-- /card -->
                      <div class="card">
                          <div class="card-header" role="tab">
                              <h5 class="mb-0">
                                  <a class="collapsed" data-bs-toggle="collapse" href="#collapseThree_product" aria-expanded="false">
                                      <i class="indicator bi-plus-lg"></i>Check In / Out Rules
                                  </a>
                              </h5>
                          </div>
                          <div id="collapseThree_product" class="collapse" role="tabpanel" data-bs-parent="#faq">
                              <div class="card-body">
                                  <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                              </div>
                          </div>
                      </div>
                      <!-- /card -->
                      <div class="card">
                          <div class="card-header" role="tab">
                              <h5 class="mb-0">
                                  <a class="collapsed" data-bs-toggle="collapse" href="#collapseFour_product" aria-expanded="false">
                                      <i class="indicator bi-plus-lg"></i>Disable Access
                                  </a>
                              </h5>
                          </div>
                          <div id="collapseFour_product" class="collapse" role="tabpanel" data-bs-parent="#faq">
                              <div class="card-body">
                                  <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                              </div>
                          </div>
                      </div>
                      <!-- /card -->
                  </div>
                  <!-- /accordion -->
              </div>
          </div>
          <!-- /Row -->
      </div>
      <!-- /container -->

  </main>
{%endblock%}